/* 1em = 16px  default browser style */
/* vh - height - percent of the screen
vw - with - percent of the screen */
/* cal() */
/*
font-size font-family font-stack generic-family
Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif
*/
/*
line-height
letter-spacing
word-spacing
text-transform
text-decoration
**/
a {
  font-size: 40px;
  text-decoration: none;
}
body {
  text-transform: uppercase;
  text-decoration: overline;
}
h1 {
  text-transform: capitalize;
  text-decoration: underline;
}
h2 {
  text-transform: lowercase;
  text-decoration: wavy;
}
h3 {
  text-decoration: solid;
}

.one {
  line-height: 0.5em;
}
.two {
  letter-spacing: 5px;
}
.three {
  word-spacing: 20px;
}
