body {
    /* background-image: url(../images/moroccan-flower.png); */
    background-image: url(../images/leaves.png);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}